{
  "server":{
    "port":8080,
    "addr":"0.0.0.0"
  },
  "storage": {
    "GPhotoStorage": {
      "refreshToken": "",
      "clientId":{
        "identifier":"",
        "secret": ""
      }
    }
  },
  "mqtt":{
    "server":"127.0.0.1",
    "user":"user",
    "pass":"pass"
  }
}