name: 'dslideshow_backend'
version: 8.2.0+6
description: A sample command-line application
publish_to: none
environment:
  sdk: '^3.8.0'
dependencies:
    shelf_virtual_directory: ^3.0.1
    shelf_multipart: ^2.0.1
    logging: ^1.0.0
    get_it: ^9.0.5
    dslideshow_common:
        path: ../common
    #googleapis: ^15.0.0
    googleapis:
        path: ../../googleapis/discoveryapis_generator/googleapis
    googleapis_auth: ^2.0.0
    #flutter_gpiod: ^0.5.1+5
    flutter_gpiod:
        path: ../../flutter_packages/packages/flutter_gpiod
    dpms:
        path: ../../flutter_packages/packages/dpms
    shelf: ^1.4.2
    shelf_router: ^1.1.4
    mqtt_client: ^10.8.0
    collection: ^1.15.0
    json_annotation: ^4.9.0
    freezed_annotation: ^3.0.0
    http: ^1.6.0
dev_dependencies:
  # shelf_router_generator: ^1.0.2
  json_serializable: ^6.10.0
  freezed: ^3.1.0
  build_runner: ^2.10.4
  test: ^1.15.7


autover:
  projects:
    backend:
      path: './'
      match_token: '_BACK_'
  targets: ["../common/lib/version.dart.template"]
