# Miscellaneous
*.class
*.log
*.pyc
*.swp
pubspec.lock

.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.packages
.pub-cache/
.pub/
**/.dart_tool/
/build/


/dslideshow_arm64
*.deb
source_arm64